<div xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Default"/>

	<f:section name="Content">
		<f:if condition="{result.http_code} < 400">
			<f:then>
				<p>{f:translate(key:'message.subscribe_success')}</p>
			</f:then>
			<f:else>
				<p class="text-danger">{f:translate(key:'message.subscribe_failure')}</p>
			</f:else>
		</f:if>
	</f:section>
</div>
