<div xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Default" />

	<f:section name="Content">
		<f:form action="create" name="newSubscriber" noCacheHash="1" object="{newSubscriber}">
			<div class="form-group {f:render(section: 'ErrorClass', arguments: {property: 'email'})}">
				<label>{f:translate(key:'label.email')}</label>
				<f:form.textfield type="email" class="form-control js-mercurii-mailcheck" property="email" placeholder="{f:translate(key:'placeholder.email')}"/>
				<f:render section="InlineError" arguments="{property: 'email'}"/>
				<span class="help-block bg-info js-mercurii-mailcheck-suggestion" data-message="{f:translate(key:'message.suggestion')}"></span>
			</div>

			<div class="form-group {f:render(section: 'ErrorClass', arguments: {property: 'email'})}">
				<label>{f:translate(key:'label.name')}</label>
				<f:form.textfield type="text" class="form-control" property="name" placeholder="{f:translate(key:'placeholder.name')}"/>
				<f:render section="InlineError" arguments="{property: 'name'}"/>
			</div>

			<f:form.submit name="subscribe" class="btn btn-primary pull-right" value="{f:translate(key:'button.subscribe')}" />
		</f:form>
	</f:section>

	<f:section name="InlineError">
		<f:form.validationResults for="newSubscriber.{property}">
			<f:if condition="{validationResults.errors}">
				<span class="help-block">
					<f:translate key="validation.newSubscriber.{property}.{validationResults.errors.0.code}"/>
				</span>
			</f:if>
		</f:form.validationResults>
	</f:section>

	<f:section name="ErrorClass">
		<f:form.validationResults for="newSubscriber.{property}">
			<f:if condition="{validationResults.errors}">has-error</f:if>
		</f:form.validationResults>
	</f:section>
</div>
